<?xml version="1.0"?>
<model>
  <name>boson_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ACSDG</name>
    <email>mal@acsdg.local</email>
  </author>
  <description>
    FLIR Boson+ 640 thermal camera on 2-axis gimbal.
    640x512 LWIR, 50x40deg FOV (9mm lens), 60Hz, NETD less than 20mK.
  </description>
</model>
