<?xml version="1.0"?>
<model>
  <name>echoguard</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ACSDG</name>
    <email>mal@acsdg.local</email>
  </author>
  <description>
    Echodyne EchoGuard phased-array radar sensor.
    160mm x 160mm x 55mm, 1.25kg, 120deg x 80deg FOV,
    1000m range, 25Hz update rate.
  </description>
</model>
