<?xml version="1.0"?>
<model>
  <name>DroneHunter F700</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ACSDG</name>
  </author>
  <description>
    Fortem DroneHunter F700 net-capture octocopter. Phase 3 weapon platform.
    18 kg, 8 rotors (cosmetic), 31 m/s max speed, 15 m net-deploy range.
  </description>
</model>
